:root {
    /* color */
    --main-color: #fff;
    --secondary-color: #f7f8fa;
    --primary-color: #accfda;
    --primary-subColor: #71909a;
    --main-textColor: #3e3e3e;
    --secondary-textColor : #585858;
    --color-highlight: #de953b;
    /* shadow */
    --main-boxShadow :  0 0 3px rgba(58, 58, 58, 0.2);
}
/*BACKGROUND COLOR*/
::selection {
	background: #333333;
	color: #ffffff;
}

::-moz-selection {
	background: #333333;
	color: #ffffff;
}

::-webkit-selection {
	background: #333333;
	color: #ffffff;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Montserrat-Regular";
    font-size: 1rem;
    line-height: 1.2;
    color: var(--main-textColor);
    background-color: var(--secondary-color);
}
body::-webkit-scrollbar {
    width: 5px;
}
body::-webkit-scrollbar-thumb {
    background-color: #bbbdc0;
}
/* ============================= */
/* ========= FONT FACE ========= */
/* ============================= */

@font-face {
    font-family: "Montserrat-Black";
    src: url(../fonts/font-family/Montserrat-Black.ttf);
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url(../fonts/font-family/Montserrat-Bold.ttf);
}

@font-face {
    font-family: "Montserrat-Italic";
    src: url(../fonts/font-family/Montserrat-Italic.ttf);
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url(../fonts/font-family/Montserrat-Regular.ttf);
}

@font-face {
    font-family: "DawningofaNewDay-Regular";
    src : url(../fonts/font-family/DawningofaNewDay-Regular.ttf);
}

@font-face {
    font-family: "OpenSansCondensed-Light";
    src: url(../fonts/font-family/OpenSansCondensed-Light.ttf);
}
@font-face {
    font-family: "Anton-Regular";
    src: url(../fonts/font-family/Anton-Regular.ttf);
}
@font-face {
    font-family: "ArchivoBlack-Regular";
    src: url(../fonts/font-family/ArchivoBlack-Regular.ttf);
}
@font-face {
    font-family: "BebasNeue-Regular";
    src: url(../fonts/font-family/BebasNeue-Regular.ttf);
}
.grid__full-width {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.grid__row-no-gutters .grid__item{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.grid__item {
    position: relative;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
}